<div class="row border-bottom">
  <nav class="navbar navbar-static-top navbar-flex" role="navigation" style="margin-bottom: 0">
    
    <div class="navbar-header visible-md visible-lg"> <!--DESKTOP-->
      <a class="minimalize-styl-2 btn btn-success m-r-sm" (click)="toggleNavigation()" title="Menu">
        <i class="fa fa-bars"></i>
      </a>
    </div>

    <div class="navbar-header-mobile visible-xs visible-sm">  <!--MOBILE-->
      <a class="minimalize-styl-2 btn btn-success m-r-sm hamburguer-mobile" (click)="toggleNavigation()"  title="Menu">
        <i class="fa fa-2x fa-bars"></i>
      </a>
    </div>

    <ul class="nav navbar-top-links navbar-right">
      <ng-container>
        <li>
          <a (click)="logout()">
            <i class="fas fa-sign-out-alt"></i>
            Sair
          </a>
        </li>
        </ng-container>
      
    </ul>

  </nav>
</div>
