<div class="wrapper wrapper-content notranslate" translate="no">
    <div class="row">
        <div class="col-lg-12">
            <h2>Boa noite, {{username}}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                  <h3 class="card-title">Atividades recentes</h3>
                  <hr>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                  <h3 class="card-title">Agenda</h3>
                  <hr>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>